* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #202940;
    --text-color: white;
    --primary: #8BAE66;
    --secondary: #FF714B;

    --input-bg: white;
    --input-text: #17153B;
    --placeholder-color: #666;

    --btn-bg: #fff;
    --btn-text-color: #17153B;
}

.light-theme {
    --bg-color: #ffffff;
    --text-color: #17153B;
    --primary: #303841;
    --secondary: #0046FF;

    --input-bg: #17153B;
    --input-text: #fff;
    --placeholder-color: #aaa;


    --btn-bg: #17153B;
    --btn-text-color: #fff;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Saira", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-radius: 40px;
    /* background-color: #8BAE66; */
    border: 2px solid var(--secondary);
    padding: 15px;

}

/* From Uiverse.io by LightAndy1 */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 500px;
    width: 100%;
}

.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 35px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: var(--input-bg);
    outline: none;
    color: var(--input-text);
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

#srchBtn {
    border-radius: 10px;
    padding: 9.5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.input::placeholder {
    color: var(--placeholder-color);
}

.input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: var(--input-text);
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}

#currentLocation {
    padding: 8px;
    border-radius: 12px;
    border: solid var(--btn-bg);
}

.theme-icon {
    font-size: 40px;
}

.theme-icon:hover {
    cursor: pointer;
}

button {
    background-color: var(--btn-bg);
    color: var(--btn-text-color);
}

#header-section {
    text-align: center;
}

#header-section h1 {
    font-size: 70px;
}

#header-section p {
    font-size: 24px;
}



/* --------------------------------------------------- */

#weather-section,
#hourly-forcast-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px;
    /* font-size: 30px; */
}

.city-card {
    /* border: 2px solid var(--primary); */
    border-radius: 12px;
    width: 400px;
    padding: 50px 0px;
    text-align: center;
    font-size: 25px;
    background-color: #7067677d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.weather-card {
    display: flex;
    justify-content: center;
    /* border: 2px solid var(--primary); */
    border-radius: 12px;
    padding: 20px;
    gap: 30px;
    width: 700px;
    background-color: #7067677d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.temp-section,
.temp-icon-section,
.weather-highlights {
    /* border: 2px solid rgb(174, 199, 10); */
    border-radius: 12px;
    padding: 10px;
}



.temp-container {
    text-align: center;
}



.sunrise-icon {
    height: 50px;
    width: 50px;
}

.sunset-icon {
    height: 43px;
    width: 43px;
}

.sunset-content {
    margin-left: 6.5px;
}

.daylight-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sunset,
.sunrise {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid var(--btn-bg);
    border-radius: 10px;
    margin: 5px 0px;
    padding: 5px;
}

/* ----------------*/
.temp-icon-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
}

#sun-img {
    height: 90px;
    width: 90px;
    /* margin-top: 10px; */
}

/* --------------- */

.weather-highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.weather-metric-container {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hpus-icon {
    width: 25px;
    height: 25px;
}

#hourly-forcast-img {
    width: 45px;
    height: 45px;
}

.hourly-forcast-container {
    background-color: #7067677d;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding-top: 20px;
}

.hourly-forcast {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    width: 700px;
    text-align: center;
}

.forcast-container {
    background-color: var(--placeholder-color);
    padding: 25px;
    border-radius: 12px;
}

.daily-forcast {
    padding: 20px;
    align-items: center;
    border-radius: 12px;
    width: 400px;
    background-color: #7067677d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.days-forcast-icon {
    width: 20px;
    height: 20px;
}

.days {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: var(--placeholder-color);
    margin: 10px;
    padding: 2px;
    border-radius: 12px;
}

footer {
    background-color: var(--bg-color);
    text-align: center;
    padding: 5px;
    color: var(--text-color);
}